.optionButton {
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  background-color: black;
  transition: color 0.3s ease 1s;
}
.optionButton:hover {
  cursor: pointer;
  color: rgb(212, 217, 221);
  transition: transform 1s ease;
}
.sidebar {
  transition: transform 1s ease;
}
.openSidebar {
  transform: translateY(-3px);
}
@media (max-width: 600px) {
  .optionButton {
    font-size: small;
  }
}
