.aboutText {
  display: flex;
  justify-content: space-around;
  text-align: left;
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 30px;
}
.aboutText p {
  font-size: larger;
  margin: 0 3rem;
  font-weight: 300;
}
@media (max-width: 600px) {
  .aboutText {
    width: 100%;
    display: block;
  }
  .aboutText p {
    font-size: medium;
  }
  .aboutText img {
    width: 100%;
    height: auto;
    margin: auto;
    margin: 10px;
  }
}
