.contactText {
  display: flex;
  justify-content: space-around;
  text-align: left;
  width: 70%;
  margin: auto;
}
.contactText h2 {
  margin: 4rem;
  font-weight: 200;
}

.link {
  text-decoration: none;
  color: aliceblue;
}

@media (max-width: 600px) {
  .contactText {
    display: block;
  }
  .contactText img {
    width: 100%;
    height: auto;
    margin: auto;
    margin: 10px;
  }
  .contactText h2 {
    font-size: large;
    width: 100%;
  }
}
