.emojis {
  display: flex;
  /* justify-content: space-around; */
}
.emoji {
  font-size: 24px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid;
  padding: 5px;
  transition: all 0.5s ease;
}
.duration {
  font-size: 18px;
  margin: auto;
  margin-left: 10px;
  border: 1px solid;
  padding: 5px;
}
.emoji:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.isLiked {
  background-color: rgb(253, 253, 253);
  color: black;
}
.emoji {
  margin-left: 10px;
}
@media (max-width: 600px) {
}
