.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: aliceblue;
}
.navLink {
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;
  color: aliceblue;
  /* flex: 1; */
  transition: all 0.5s ease;
}
.navLink:hover {
  color: rgb(208, 229, 247);
}
.headerImg {
  margin-right: 20px;
}

.trackImg {
  height: 50px;
  max-width: 50px;
  margin: auto;
  margin-left: 10px;
}
.link {
  text-decoration: none;
  color: aliceblue;
  margin: 20px;
  transition: all 0.5s ease;
}
.link:hover {
  color: rgb(208, 229, 247);
}

.links {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.titleAndLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 0 20px; */
  /* width: 20%; */
}

.nowPlayingTitle {
  display: flex;
  align-items: baseline;
  align-content: baseline;
  justify-content: center;
  margin-left: 5px;
  color: aliceblue;
  animation: moveText 40s linear infinite;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 300;
}

.pauseIt {
  /* width: 20rem; */
  font-size: 30px;
}
.pauseIt :hover {
  color: rgb(196, 196, 196);
  cursor: pointer;
}
.nowPlayingHalfText {
  display: flex;
  align-items: baseline;
  align-content: baseline;
}
.nowPlayingHeaderTitle {
  font-weight: 300;
}
.nowPlayingHeaderText {
  margin-left: 5px;
  font-weight: 300;
}
.artistAndPause {
  display: flex;
  align-items: baseline;
}
.nowPlayingTitle img {
  width: 100px;
}

@keyframes moveText {
  0% {
    transform: translateX(-30%);
  }
  33% {
    transform: translateX(30%);
  }
  66% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(30%);
  }
}
@keyframes moveTextLittle {
  0% {
    transform: translateX(-50%);
  }
  33% {
    transform: translateX(50%);
  }
  66% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

@media (max-width: 600px) {
  .header {
    display: block;
    /* height: 14rem; */
  }
  .titleAndLinks {
    display: block;
  }
  .pauseIt {
    /* width: 20rem; */
    margin: auto;
    text-align: center;
    font-size: 30px;
  }
  .links {
    font-size: large;
  }
  .navLink img {
    width: 5rem;
    height: 5rem;
  }
  .navLink {
    font-size: large;

    padding: auto;
    justify-content: center;
    margin-top: 20px;
    /* text-align: center; */
  }
  .nowPlayingTitle {
    font-size: small;
    margin-top: 0;
    animation: moveTextLittle 40s linear infinite;
  }
  .adminButton {
    visibility: hidden;
    margin: auto;
    text-align: center;
  }
  .nowPlayingTitle {
    margin-top: 0;

    display: block;
    /* border: solid, white, 1px; */
    /* margin: 20px 0; */
  }
  .nowPlayingHeaderText {
    /* text-align: center; */
  }
  .trackImg {
    margin-right: 0;
  }
  .nowPlayingHalfText {
    display: flex;
    align-items: baseline;
    /* align-content: baseline; */
    justify-content: left;
  }
}
